<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Title" content="oVirt-Monitoring UI-Plugin">
    <meta name="Description" content="oVirt-Monitoring UI-Plugin for Nagios and Icinga">
    <title>oVirt-Monitoring UI-Plugin</title>
    
	<!-- jQuery -->
	<link rel="stylesheet" type="text/css" href="[% site_url %]/share/css/jquery-ui-1.10.3.custom.min.css">
	<script src="[% site_url %]/share/javascript/jquery-1.10.2.min.js"></script>
	<script src="[% site_url %]/share/javascript/jquery-ui-1.10.3.custom.min.js"></script>
	<script src="[% site_url %]/share/javascript/jquery.loadTemplate-0.5.4.js"></script>

	<!-- oVirt Monitoring -->
	<link rel="stylesheet" type="text/css" href="[% site_url %]/share/css/[% templ %]/monitoring-ui.css">
	<script src="[% site_url %]/share/javascript/monitoring-ui.js"></script>
	
	[%# set default timeout %]
    <script type="text/javascript">
      var refreshInterval = [% refresh_interval %];
      var templateCache = [% template_cache %];
    </script>

  </head>
  <body>

<div align="center">